@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Zen+Tokyo+Zoo&display=swap');
/* body {
    background-image: url('https://buffer.com/cdn-cgi/image/w=1000,fit=contain,q=90,f=auto/library/content/images/size/w1200/2020/06/Frame-22.png');
    background-size: cover;
    background-attachment: fixed;
} */
.logout {
    cursor: pointer;
}
.card {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}